<div class="container">
    <div class="row">
        {% if node.field_course_type.value == "ft" %}
            {% set ctype = "Full-time" %}
        {% elseif node.field_course_type.value == "pt" %}
            {% set ctype = "Part-time" %}
        {% elseif node.field_course_type.value == "sc" %}
            {% set ctype = "Short Course" %}
        {% endif %}
        <div class="col-12 fs-3">Course Type: {{ ctype }}</div>
    </div>
    <div class="row">
        <div class="col-12">
            <!--<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Invoice Date</th>
                        <th>Event Date</th>
                        <th>Tutor</th>
                        <th>Fee</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for inv in node.field_tutor_fees %}
                        <tr>
                            <td><a href="/node/{{inv.entity.field_parent.entity.nid.value}}">View</a></td>
                            <td>{{inv.entity.field_parent.entity.field_invoice_date.value}}</td>
                            <td>{{ inv.entity.field_event_date.value }}</td>
                            <td>
                                <a href="/node/{{inv.entity.field_parent.entity.field_tutor.entity.nid.value}}">
                                    {{ inv.entity.field_parent.entity.field_tutor.entity.title.value }}
                                </a>
                            </td>
                            <td class="text-end">
                               {{ inv.entity.field_parent.entity.field_invoice_total.value }}
                            </td>
                        </tr>
                        {% set total = total + sum %}
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-end fw-bold">Total</td>
                        <td class="text-end fw-bold">{{ total|number_format(2,'.',',') }}</td>
                    </tr>
                </tbody>
            </table> -->
            {{ drupal_view('course_invoices','page_1') }}
        </div>
    </div>
</div>