<tr>
  <td><a class="btn btn-info" type="button" href="/node/{{ fields.nid.content }}">View</a></td>
  <td>{{ fields.field_ctype.content }} {{ fields.title.content }}{% if fields.field_variant.content != NULL %} [{{ fields.field_variant.content }}]{% endif %}</td>
  <td>{{ fields.field_short_name.content }}</td>
  <td>{{ fields.field_ctype.content }}</td>
  <td>{{ fields.field_variant.content }}</td>
</tr>
